@use '../styles/general/colors' as *; /* this enables the usage of all variables and mixins from the general folder */
@use '../styles/general/fonts' as *;
body {
  width: 70%;
  margin: auto;
  padding: 0;
  background-color: #ebebeb;
  font-family: $primary_font;
}

.menu {
  width: 70%;
  display: flex;
  position: fixed;
  top: 0;
}

.menu__link {
  font-size: 1.1rem;
  display: block;
  padding: 0.5rem 2rem;
  color: #3a3b3c;
  text-decoration: none;
}
.menu__link:hover,
.menu__link.--active {
  color: #0f89be;
  font-weight: bold;
  top: 0;
  left: 0;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  padding: 1rem 2rem;
  background-color: #3a3b3c;
  margin: 0 0 1rem 0;
  min-width: 300px;
}

.menu__item {
  display: block;
}

.menu__item a {
  color: #ffffff;
  font-weight: 600;
}

.color {
  padding: 88px 0rem 32px 32px;
  background-color: #ffffff;
  &__title {
    font-size: 1.2rem;
    color: #3a3b3c;
    margin-bottom: 0.2rem;
  }
  &__wrapper {
    display: flex;
  }
  &__hex {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: #ffffff;
    border: solid 1px;
    border-radius: 10px;
    margin: 10px 0px;
  }
  &__hex--light-blue {
    background-color: $primary_blue-light;
  }
  &__hex--dark-blue {
    background-color: $primary_blue-dark;
  }
  &__hex--font {
    background-color: #116f99;
  }
  &__hex--blue-gradient {
    background: $primary_gradient;
  }
  &__hex--red {
    background: $secondary_red;
  }
  &__hex--yellow {
    background: $secondary_yellow;
  }
  &__hex--dark-grey {
    background: $secondary__grey;
  }
  &__information {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    padding-bottom: 1.5rem;
    width: 200px;
    height: inherit;
  }
  &__scss-name {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    border: solid 1px darkgray;
    border-radius: 10px;
    color: #000000;
  }
}
