/* this enables the usage of all variables and mixins from the general folder */
body {
  background-color: #c4c4e2;
}

.menu {
  text-align: right;
  display: flex;
  justify-content: flex-start;
}

.menu__link {
  display: block;
  padding: 0.5rem 2rem;
  color: #0e0e0e;
  text-decoration: none;
}

.menu__link:hover,
.menu__link.--active {
  color: #ad1f1f;
  font-weight: bold;
  top: 0;
  left: 0;
}

.menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  padding: 1rem 2rem;
  background-color: #ebebeb;
  margin: 0 0 1rem 0;
  min-width: 300px;
  justify-items: center;
}

.menu__item {
  display: block;
}

.color__wrapper {
  display: flex;
}
.color__hex {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  color: #ffffff;
  background-color: #0f89be;
  border: solid 0px;
  border-radius: 10px;
  margin: 10px 0px;
}
.color__hex--second {
  background-color: #0f445b;
}
.color__hex--gradient {
  background: radial-gradient(circle, #0f89be 0%, #0f4962 86%, #0f445b 100%);
}
.color__primary {
  margin-right: 15px;
}
.color__scss-name {
  width: 196px;
  height: 20px;
  text-align: center;
  border: solid 1px darkgray;
  border-radius: 10px;
  color: #000000;
}
.color__scss-name--x2 {
  height: 40px;
}