@use '../../../styles/general/colors' as *;
@use '../../../styles/general/fonts' as *;
@use '../../../styles/general/reset.scss' as *;

.map__body {
  background-image: url(/assets/images/google-maps.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.report-icon {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 65px;
}

.rute-vejledning {
  width: 95%;
  height: 100px;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  background: $primary_gradient;
  border: solid 0px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__info {
    padding: 0px 30px;
  }
  &__gade {
    font-size: 1.5rem;
    color: #ffffff;
    padding-bottom: 8px;
  }
  &__retning {
    font-size: 1.25rem;
    color: #ebebeb;
  }
  &__afstand {
    padding: 0px 30px;
  }
  &__km {
    font-size: 1.5rem;
    color: #ffffff;
  }
}

.map__return-btn {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 65px;
  background-color: transparent;
  border: none;
}

.map__icon {
  width: 50px;
  padding: 0;
  margin: 0;
}
