body {
  margin: 0;
  padding: 0;
  background-color: #0f445b;
  font-family: "kanit", sans-serif;
}

.locations {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 67vh;
  background: #ffffff;
  border: solid 0px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  overflow-y: scroll;
}
.locations__bottom-fade {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}
.locations__bottom-fade.--hide {
  display: none;
}
.locations__title {
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  color: #116f99;
  margin-bottom: 0.7rem;
}
.locations__information {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  border-bottom: solid 1px grey;
  margin-bottom: 1.5rem;
}
.locations__adress {
  font-size: 20px;
  color: #116f99;
  font-weight: 100;
  padding-right: 2.5rem;
  margin-bottom: 0.3rem;
}
.locations__distance-and-payment {
  display: flex;
}
.locations__coin-icon {
  padding-right: 10px;
  width: 1.5rem;
}
.locations__distance {
  font-size: 20px;
  font-weight: 100;
  color: #116f99;
  margin-bottom: 0.3rem;
}
.locations__link {
  text-decoration: none;
  color: #116f99;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0f445b;
  font-family: "kanit", sans-serif;
}

.locations {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 67vh;
  background: #ffffff;
  border: solid 0px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  overflow-y: scroll;
}
.locations__bottom-fade {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}
.locations__title {
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  color: #116f99;
  margin-bottom: 0.7rem;
}
.locations__information {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  border-bottom: solid 1px grey;
  margin-bottom: 1.5rem;
}
.locations__adress {
  font-size: 20px;
  color: #116f99;
  font-weight: 100;
  padding-right: 2.5rem;
  margin-bottom: 0.3rem;
}
.locations__distance-and-payment {
  display: flex;
}
.locations__coin-icon {
  padding-right: 10px;
  width: 1.5rem;
}
.locations__distance {
  font-size: 20px;
  font-weight: 100;
  color: #116f99;
  margin-bottom: 0.3rem;
}
.locations__link {
  text-decoration: none;
  color: #116f99;
}