$primaryBlue-light: #0f89be;
$primaryBlue-dark: #0f445b;
$primaryGradiant: radial-gradient(circle, rgba(15, 137, 190, 1) 0%, rgba(15, 73, 98, 1) 86%, rgba(15, 68, 91, 1) 100%);
$background--hover: #e9c5e4;
